
@{
    ViewBag.Title = "index";
}
<link rel="stylesheet" type="text/css" href="~/Content/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">Rent a car at best rates</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro_text text-center">
                    <p>you'll find some of the lowest car hire prices available on the web. Best price guaranteed. </p>
                </div>
            </div>
        </div>
        <div class="row intro_items">

            @foreach (var product in ViewBag.products)
            {
                <div class="col-lg-4 intro_col">
                    <div class="intro_item">
                        <div class="intro_item_overlay"></div>
                        <div class="intro_item_background" style="background-image:url(../../Content/img/@product.Photo)"></div>
                        <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                            <div class="button intro_button"><div class="button_bcg"></div><a href="@Url.Action("Detail", "Product", new {id = product.Id })">more detail<span></span><span></span><span></span></a></div>
                            <div class="intro_center text-center">
                                <h1>@product.Name</h1>
                                <div class="intro_price">From @product.Price</div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>


